[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=HP Scan
GenericName=Scanner
Comment=HP Printer/Scanner Utility - Scan
Exec=/usr/bin/hp-uiscan
Icon=scanner
Categories=Graphics;Scanning;
Keywords=scan;scanner;hp;hplip;printer;
